
body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1,5;
    font-weight: 900;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    line-height: 1,5;
    font-weight: 700;
}

/* Header */
.lol-logo {
    width: 80%;
}

.btn-header-title {
    width: 70%;
    margin: 0 5% 10%;
    text-align: center;
}

.yasuopng-img {
    width: 80%;
    position: relative;
    left: 20%;
}

/* Navgation Bar */
.navbar-brand {
    font-family: 'Montserrat';
    font-size: 2rem;
    font-weight: bold;
}

.navbar {
    padding: 0.5rem 2rem;
}

.nav-item {
    padding-inline: 0.2rem;
}

.nav-link {
    font-weight: bold;
}

/* News Section */
#news {
    padding: 5% 15%;
}

.news-box {
    text-align: center;
    padding: 4% 2%;
}

.icon {
    margin-bottom: 5%;
}

.icon:hover{
    color: rgb(134, 121, 0);
}


/* Arena Section */
#arena {
    text-align: center;
    padding: 5% 2%;
}

.h1-arena {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1,5;
    font-weight: 900;
}

.row-features {
    padding-top: 2%;
}

.carousel-inner {
    width: 80%;
    border-radius: 10%;
    margin: 0.5% 10%;
    text-align: center;
}

/* Select-Champion Section */
#select-champ {
    padding: 70px;
}

.h1-selectchamp {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1,5;
    font-weight: 900;
}

.select-champ-header {
    text-align: center;
    padding: 2% 2%;
}

/* Discovery Section */
#discovery {
    background-color: black;
    color: #fff;
    padding: 40px;
    text-align: center;
}

.discovery-header {
    text-align: center;
    padding: 2% 2%;
}

.h1-discovery {
    font-size: 400%;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1,5;
    font-weight: 900;
}

.card-title-discovery {
    color: black;
}

.card-text-discovery {
    color: black;
}

/* Footer Section */
#footer {
    text-align: center;
    padding: 2%;
}

.social-icon {
    margin: 2% 0.7%;
}

/* Site Responsivel */
@media (max-width: 1028px){

    #title {
        text-align: center;
    }

    .yasuopng-img {
        position: static;
    }
}

/* Section */
.colored-section {
    background-color: black;
    color: white;
}

.white-section {
    background-color: white;
    color: black;
}
